@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}

.font-size{
    font-size: 1.25rem;
}

.nav-font-color{
    color: #8987A1;
}

.primary-color{
    color: #E95A08;
}

.primary-color2{
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
    font-size: 1rem;
    color: white;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 20px 50px;
}

/* navbar styles */

nav ul li{
    list-style: none;
    font-weight: bold;
}

nav ul{
    gap: 45px;
}

nav img{
    width: 132px;
    height: 82px; 
}

nav{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* banner styles */

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-description{
    font-size: 1.25rem;
}

.banner{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
}

/* plants section style */

.plants-section{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.plants-title{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 120px;
}

.plants-description{
    font-size: 1.25rem;
    margin-bottom: 50px;
}

.plants-card{
    max-width: 270px;
    text-align: center;
}

.plants-card img{
    width: 100%;
}

.card-sub{
    margin-top: 0px;
}

.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

/* plants lover section style */

.plants-lover-title{
    font-size: 3rem;
}

.plants-lover-li li{
    margin-top: 20px;
}

.plants-lover-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
}

.flower-description{
    margin-left: 60px;
}

.badge{
    width: 285px;
    height: 285px;
    position: absolute;
    top: -120px;
    right: -100px;
    filter: drop-shadow(-4px 10px 4px #000000);
}

.plants-lover-img{
  position: relative;
}

/* latest deal section styles */

.latest-deal-section{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.img-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    margin-top: 65px;
}

.img-sub{
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 2px solid white; 
    color: white;
    margin-top: 0px;
}

.latest-deal-title{
    font-size: 3rem;
    font-weight: bold;
}

.zabo-title{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 160px;
}

.zabo-sub{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid white;
}

.deal-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.deal-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.deal-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/3; 
    grid-row: 1/3;
    height: 100%;
}

.deals-heading{
    text-align: center;
    margin-bottom: 120px;
    margin-top: 130px;
}

.deal{
    border-radius: 22px;
    text-align: center;
}

.deal-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

/* Responsive small device */

@media screen and (max-width:576px) {
    .li-1, .li-2, .li-3{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
        margin-top: 10px
    }

    nav img{
        width: 63px;
        height: 38px;
    }

    .banner-img{
       width: 100%;
    }

    .plants-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 30px;
    }

    .plants-title, .plants-lover-section{
        margin-top: 100px;
    }

    .plants-lover-title{
        font-size: 2rem;
    }

    .badge{
        display: none;
    }

    .plants-lover-section{
        flex-direction: column;
        align-items: center;
    }

    .plant-img{
        max-width: 360px;
    }

    .flower-description{
        margin-left: 0px;
    }

    .deal-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .deal-3{
        grid-column: auto;
        grid-row: auto;
        height: 172px;
    }

    .zabo-title{
        font-size: 1.25rem;
        margin-top: 65px;
    }

    .zabo-sub{
       font-size: 1rem; 
    }

    .deals-heading{
        margin-bottom: 50px;
        margin-top: 100px;
    }
}

